#app{
    .navbar {
      margin-bottom:0;
      border:none;
      background:#252525;
    }

    .navbar-brand .glyphicon {
      margin-right:6px;
    }

    .navbar-brand {
      font-size:15pt;
    }

    a.navbar-brand.navbar-link {
         color:#ffffff;
    }
    .hero {
      background:url(../../assets/img/insights_future.jpg) no-repeat center;
      background-size:cover;
      border:none;
    }
}
.navbar-font{
    color:#ffffff;
}
@media (min-width:992px) {
  .hero .get-it {
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
}

@media (max-width:992px) {
  .hero .get-it {
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview {
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p {
  color:#0d0d0d;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn {
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

.icon-feature {
  text-align:center;
}

.icon-feature .glyphicon {
  font-size:60px;
}

section.heading {
  /*background-color:#369;*/
  padding:40px 0;
  /*color:#fff;*/
}

section.features {
  /*background-color:#369;*/
  padding:40px 0;
  /*color:#fff;*/
}

.features h2 {
  color:#fff;
}

.features .icon-features {
  margin-top:15px;
}

.testimonials blockquote {
  text-align:center;
}

section.heading {
  margin:50px 0;
}

section.testimonials {
  margin:50px 0;
}

.site-footer {
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover {
  opacity:1;
}

.site-footer .social-icons a {
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}
